/* Radio Button */
*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/* body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  background: #e8ebee;
  color: #9faab7;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
}
body div {
  padding: 5rem;
} 
body label {
  display: block;
  line-height: 20px;
}*/

/* Multiple Table */
div.dataTables_wrapper {
  margin-bottom: 3em;
}

.separator {
  border-right: 1px solid #dfdfe0; 
}

.icon-btn-save {
  padding-top: 0;
  padding-bottom: 0;
}
.input-group {
  margin-bottom:10px; 
}
.btn-save-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}
/* Calendar on Login page */
#calendar{
  position: relative ;
  top: 40%;
  left: 35%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 250px;
  background-color: cornflowerblue;
  border: #fff;
  border-radius: 5%;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.4);
}

#calendar>p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  text-align: center;
}

#calendar-day{
  font-size: 20px;
}

#calendar-month-year{
  font-size: 16px;
}

#calendar-date{
  font-size: 75px;
  padding-top: 5px;
  padding-bottom: 0;
  text-shadow: 2px 2px  rgba(50, 50, 50, 0.4) ;
}

/* #logo{
  display: ;
  margin-top: 60px;
} */

